.markdown-body {
  word-wrap: break-word;
}
.markdown-body,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body pre,
.markdown-body code,
.markdown-body blockquote,
.markdown-body em,
.markdown-body strong,
.markdown-body code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: consolas, monaco, courier, "courier new", fixed-width;
  color: #333333;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body pre,
.markdown-body code,
.markdown-body blockquote,
.markdown-body ol,
.markdown-body ul,
.markdown-body li,
.markdown-body p,
.markdown-body section,
.markdown-body header,
.markdown-body footer {
  float: none;
  margin: 0;
  padding: 0;
}
.markdown-body h1,
.markdown-body p,
.markdown-body ul,
.markdown-body ol,
.markdown-body pre,
.markdown-body blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.markdown-body h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
}
.markdown-body h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
.markdown-body h1 + * {
  margin-top: 0;
}
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  margin-bottom: 20px;
}
.markdown-body h2:before,
.markdown-body h3:before,
.markdown-body h4:before,
.markdown-body h5:before,
.markdown-body h6:before {
  content: "## ";
  display: inline;
}
.markdown-body h3:before {
  content: "### ";
}
.markdown-body h4:before {
  content: "#### ";
}
.markdown-body h5:before {
  content: "##### ";
}
.markdown-body h6:before {
  content: "###### ";
}
.markdown-body li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
}
.markdown-body li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.markdown-body ul > li:after {
  content: "*";
}
.markdown-body ol {
  counter-reset: ol;
}
.markdown-body ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.markdown-body pre {
  margin-left: 34px;
  padding-left: 4ch;
}
.markdown-body blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.markdown-body blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
.markdown-body strong:before,
.markdown-body strong:after {
  content: "__";
  display: inline;
}
.markdown-body em:before,
.markdown-body em:after {
  content: "*";
  display: inline;
}
.markdown-body a {
  text-decoration: none;
}
.markdown-body a:before {
  content: "[";
  display: inline;
  color: #333333;
}
.markdown-body a:after {
  content: "](" attr(href) ")";
  display: inline;
  color: #333333;
}
.markdown-body code {
  font-weight: 100;
}
.markdown-body code:before,
.markdown-body code:after {
  content: "`";
  display: inline;
}
.markdown-body pre code:before,
.markdown-body pre code:after {
  content: none;
}
.markdown-body hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
.markdown-body hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .markdown-body h1 {
    display: block;
  }
}
.markdown-body-ones ol > li:after {
  content: "1.";
}
